<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.793655789544-07tgdeu28io9hhitp0u8e4guntt9itkb</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-793655789544-ios-8a6787de05fcaf10d9465d
</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>LufgaBold.ttf</string>
		<string>LufgaMedium.ttf</string>
		<string>LufgaSemiBold.ttf</string>
		<string>LufgaRegular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
